<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Información de contacto</h5>
                <ul class="list-unstyled text-small">
                    <li><i class="fas fa-map-marker-alt"></i> Dirección: 123 Calle Principal, Ciudad</li>
                    <li><i class="fas fa-phone"></i> Teléfono: +1234567890</li>
                    <li><i class="fas fa-envelope"></i> Correo electrónico: info@example.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Enlaces útiles</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-white" href="#">Inicio</a></li>
                    <li><a class="text-white" href="#">Productos</a></li>
                    <li><a class="text-white" href="#">Servicios</a></li>
                    <li><a class="text-white" href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <ul class="list-unstyled list-inline social-icons">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; LennyPhone. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
</body>
